
.navbar .nav-item .nav-link {
    color: white;
    text-shadow: 1px 1px 2px black;
}
.main-header {
    background: url(../img/background.jpg);
    background-size: cover;
}
.background-overlay {
    background-color: rgba(30, 39, 46, 0.9);
}

.albums{
    background-color: #263238;
}


.member-card{
    border-radius: 25px;
    border: 1px solid #b0bec5;
    margin: 10px;
    
    
}
.members{
    background: rgb(72,84,96);
    background: radial-gradient(circle, rgba(72,84,96,1) 0%, rgba(30,39,46,1) 100%);
}

.member-card img{
    border: 1px solid #37474f;
}

.about{
    background: url(../img/death2.jpg);
    background-size: cover;
}

.overlay2 {
    background-color: rgba(30, 39, 46, 0.9);
}